<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    Wish you nice reading ...
  </h3>
  <span>
    <%= link_to "Write a New Blog", new_blog_path, class: "pull-right" if logged_in?(:site_admin) %>
  </span>

  <%= paginate @blogs %>
  <%= render @blogs %>
  <%= paginate @blogs %>
</div>


