<div class="cv-section">
  <%= link_to("Get my CV", "/assets/jerga_cv.pdf", download: '', class: "btn btn-lg btn-secondary btn-portfolio") %>
  <iframe src="<%= pdfjs.full_path(file: "/assets/jerga_cv.pdf") %>" style="width: 100%; height: 700px">
  </iframe>
  <%= link_to("Get my CV", "/assets/jerga_cv.pdf", download: '', class: "btn btn-lg btn-secondary btn-portfolio") %>
</div>
